{% extends "base.html" %}

{% block content %}
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for post in post_list %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{{ post.get_absolute_url }}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.body|truncatewords:15 }}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">{{ post.author }}</a>
                    on {{ post.date }}
                </p>
                <p class="post-meta">
                    Category: <a href="#!">{{ post.category }}</a>
                </p>
                {% if post.author.pk == request.user.pk %}
                <a href="{% url 'post_edit' post.pk %}">Edit</a>
                <a href="{% url 'post_delete' post.pk %}">Delete</a>
                {% endif %}
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info btn-sm mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-info btn-sm mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-info btn-sm mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info btn-sm mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a class="btn btn-outline-info btn-sm mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-outline-info btn-sm mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

